.container {
  display: "flex";
  justify-content: "space-between";
}

.icon-wrapper {
  position: relative;
}

.icon-wrapper:hover .tooltip {
  visibility: visible;
}
.tooltip {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.delete-completed {
  display: inline-grid;
  background: #1e1919;
  padding: 5px;
  border-radius: 5px;
  gap: 0px;
}
